{% extends 'invoice_app/base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{%load static%}

{% block content %}

<div class="container py-5">
    <h2>クライアント一覧</h2>

    <table class="table table-bordered">
        <tr>
            <th>名前</th>
            <th>ふりがな</th>
            <th>性別</th>
            <th>保険者</th>
            <th>障害種別</th>
            <th>障害区分</th>
            <th>受給者番号</th>
            <th>負担上限額</th>
        </tr>
        {% for client in clients %}
        <tr>
            <td>{{ client.client_name }}</td>
            <td>{{ client.client_kana }}</td>
            <td>{{ client.client_gender }}</td>
            <td>{{ client.insurer }}</td>
            <td>{{ client.class_obst }}</td>
            <td>{{ client.class_num }}</td>
            <td>{{ client.insurance_id }}</td>
            <td>{{ client.max_amount }}</td>
            <td>
                <a href="{%url 'client_modify' client.id %}" class="btn btn-primary">修正</a> <!-- 修正ボタン -->
                <a href="{%url 'client_delete' client.id %}" class="btn btn-danger">削除</a> <!-- 削除ボタン -->
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">クライアント情報が存在しません。</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
