{% extends 'invoice_app/base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{%load static%}

{% block title %}実績入力{%endblock%}

{%block content %}
    <!-- 実績入力画面 -->
    <h1>実績登録画面</h1>
    <form method = "POST" class="post-form">
        {% csrf_token %}
        <!-- {{ form.as_p}} -->
        {% bootstrap_form form%}

        <button type="submit" class="save btn btn-primary">登録</button>
    </form>


    <div class="input-daterange input-group" id="datepicker">
        <div class="input-group-prepend">
            <span class="input-group-text">開始日付</span>
        </div>
        <input type="text" class="input-sm form-control" name="from">
        <div class="input-group-append">
            <span class="input-group-text">終了日付</span>
        </div>
        <input type="text" class="input-sm form-control" name="to">
    </div>

{%endblock%}