{% extends 'invoice_app/base.html' %}


{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{%load static%}

{% block title %}実績入力{%endblock%}

{%block content %}
<!-- 実績入力画面 -->
{{ form.media }} 
<h1>実績登録画面</h1>

<div class="d-flex justify-content-center">

    
    <form method = "POST" class="col-auto" style="max-width: 500px;">
        {% csrf_token %}
        
        {% bootstrap_field form.user_name%}
        
        {% bootstrap_field form.date %}
        <br>
        <div class="input-daterange input-group">
            <div class="col-auto">
                {% bootstrap_field form.start_time %}
            </div>
            <div class="col-auto" style="margin-left: 20px;">
                {% bootstrap_field form.end_time %}
            </div>
            <div class="col-auto" style="margin: 35px;">
                {% bootstrap_field form.ds %}
            </div>
        </div>
        
        <div class="input-daterange input-group">
            <div class="input-group-prepend">     
                {% bootstrap_field form.transportation1 %}
            </div>
            <div class="input-group-append" style="margin-left: 20px;">
                {% bootstrap_field form.transportation2 %}
            </div>
            <div class="input-group-append" style="margin-left: 20px;">
                {% bootstrap_field form.meal %}
            </div>
        </div>
        {% bootstrap_field form.notes %}
        
        <button type="submit" class="save btn btn-primary" style="margin-top: 20px; margin-bottom: 20px;">登録</button>
    </form>
</div>
    
{%endblock%}