{% extends 'invoice_app/base.html' %}


{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{%load static%}

{% block title %}実績入力{%endblock%}

{%block content %}
<!-- 実績入力画面 -->
{{ form.media }} 
<h1>実績登録画面</h1>
    <form method = "POST" class="post-form">
        {% csrf_token %}

        {% bootstrap_field form.user_name%}
        {% bootstrap_field form.date %}
        
        <div class="input-daterange input-group">
            <div class="input-group-prepend">
                {% bootstrap_field form.start_time %}
            </div>
            <div class="input-group-append" style="margin-left: 20px;">
                {% bootstrap_field form.end_time %}
            </div>
        </div>
        
        {% bootstrap_field form.bathing %}
        {% bootstrap_field form.transportation %}
        {% bootstrap_field form.meal %}
        {% bootstrap_field form.notes %}

        <button type="submit" class="save btn btn-primary" style="margin-top: 20px; margin-bottom: 20px;">登録</button>
    </form>

{%endblock%}