{% extends 'invoice_app/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{%load static%}

{% block title %}test画面{% endblock%}


{% block content %}
<div class="container mt-5" style="width: 500px;">
    <h1>Service Records</h1>
    <div>
        <form class="row" method="POST">
            {% csrf_token %}
            <select name="name" >
                {%for client in clients_list%}
                <option value="{{ client.id }}" {% if client.id == client_id %}selected{% endif %}>{{ client.client_name }}</option>
                {%endfor%}
            </select>
            
            <input type="text" class="form-control" id="datepicker" name="ym" value="{{year}}-{{month}}">
            <input type="hidden" id="year" name="year" value="{{year}}">
            <input type="hidden" id="month" name="month" value="{{month}}">
            
            <button type="submit" class="btn btn-primary">View</button>
        </form>
        
        <a href="" class="btn btn-primary d-flex align-items-center justify-content-center" >Create</a>
        <!-- ↓を次のように変更するhref"% url 'invoice_create' %}?year={{ year }}&month={{ month }}" class="btn btn-primary mb-3">Create Invoice -->
    </div>
</div>
<div class="mb-5">
    <table class="table table-bordered table-hover m-3">
        <thead>
            <tr>
                <th>名前</th>
                <th>利用日</th>
                <th>開始時間</th>
                <th>終了時間</th>
                <th>サービス名</th>
                <th>送迎</th>
                <th>入浴</th>
                <th>昼食</th>
                <th>備考</th>
                <th>加算</th>
                <th>金額</th>
                <!-- 他の列を追加 -->
            </tr>
        </thead>
        <tbody>
            {% for record in service_records %}
            <tr>
                <td class="col-1">{{ record.user_name}}</td>
                <td class="col-1">{{ record.date }}</td>
                <td >{{ record.start_time }}</td>ß
                <td >{{ record.end_time }}</td>
                <td class="col-1">{{ record.type.name }}</td>
                <td ><input class="col-12" type="checkbox" {% if record.transportation %}checked{% endif %} disabled></td>
                <td><input class="col-12" type="checkbox" {% if record.bathing %}checked{% endif %} disabled></td>
                <td><input class="col-12" type="checkbox" {% if record.meal %}checked{% endif %} disabled></td>
                <td class="col-1">{{ record.notes }}</td>
                <td class="col-1">
                    {% for addon in record.addons.all %}
                    {{ addon.name }}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td class="col-1">{{ record.total_amount }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
<script>
    $(function () {
            $('#datepicker').datepicker({
                format: "yyyy-mm", // mm-yyyy 形式に設定
                viewMode: "months", // 最初の表示を月ビューに設定
                minViewMode: "months" // ユーザーが選択できる最小単位を月に設定
            });
            
            // Getting selected date
            $('#datepicker').on('change', function() {
                let selectedDate = $(this).val();
                let [year,month] = selectedDate.split('-');
                // Now you have the month and year. You can use it as per your requirement.
                $('#year').val(year);
                $('#month').val(month);
                $('#ym').val(this)
            });
        });

</script>
{% endblock%}